node_modules

.env

/build/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example

data
coverage

.react-router

.wrangler
.dev.vars
.trigger

__screenshots__
.claude
