---
import Heading from '~/components/ui/Heading.astro'
import CoverPage from '~/components/CoverPage.astro'
import { useI18n } from '~/services/i18n'
import bgImage from '~/assets/images/hero.webp'

const { t } = useI18n(Astro.url.pathname)
---

<CoverPage id="hero" bgImageSrc={bgImage}>
  <Heading size="5xl">
    Technically,
    <br />
    <span class="text-indigo-600">It&apos;s possible.</span>
  </Heading>
  <p class="text-lg">{t('hero.subcopy', 'ビジネスを可能にする、技術の話を。')}</p>
</CoverPage>
