---
import HStack from '~/components/ui/HStack.astro'
import Heading from '~/components/ui/heading.astro'
import CoverPage from '~/components/CoverPage.astro'
import { useI18n } from '~/services/i18n'

const { t } = useI18n(Astro.url.pathname)
---

<CoverPage id="hero" bgImageSrc="/images/hero.webp">
  <Heading size="5xl">
    Technically,
    <br />
    <span class="text-indigo-600">It&apos;s possible.</span>
  </Heading>
  <p class="text-lg">{t('hero.subcopy', 'ビジネスを可能にする、技術の話を。')}</p>
</CoverPage>
