---
import Layout from '~/layouts/Layout.astro'
import AboutPage from '~/components/pages/AboutPage.astro'
---

<Layout>
  <main class="h-screen snap-y snap-mandatory overflow-auto">
    <div>TechTalk</div>
    <div>会社概要</div>
    <div>お問い合わせ</div>
    <AboutPage />
  </main>
</Layout>
