---
import Layout from '~/layouts/Layout.astro'
---
<Layout>
	<main class="h-screen snap-y snap-mandatory overflow-auto">
		<div>hero page</div>
		<div>about page</div>
		<div>contact page</div>
	</main>
</Layout>