---
import Layout from '~/layouts/Layout.astro'
import HeroSection from '~/pages/_sections/HeroSection.astro'
import AboutSection from '~/pages/_sections/AboutSection.astro'
import ContactSection from './_sections/ContactSection.astro'

export const prerender = true
---

<Layout>
  <main class="h-screen snap-y snap-mandatory overflow-auto">
    <HeroSection />
    <AboutSection />
    <ContactSection />
  </main>
</Layout>
