---
import { getImage } from 'astro:assets'
const { id, bgImageSrc } = Astro.props
const bgImage = await getImage({ src: bgImageSrc, quality: 30 })
---

<div
  id={id}
  class="relative flex h-screen snap-start snap-always items-center justify-center bg-black/50 bg-cover bg-center bg-blend-overlay"
  style={{
    backgroundImage: `url(${bgImage.src})`,
  }}
>
  <div class="mx-auto w-full px-4 text-center sm:w-2/3 sm:px-0">
    <slot />
  </div>
</div>
