---
import HStack from '~/components/ui/HStack.astro'
import Spacer from '~/components/ui/Spacer.astro'
import LanguageSwitcher from '~/components/LanguageSwitcher.astro'
import { useI18n } from '~/services/i18n'

const { t } = useI18n(Astro.url.pathname)
---

<script>
  function smoothScroll(event: Event) {
    const anchor = event.target as HTMLAnchorElement
    const targetId = anchor.getAttribute('href')
    if (!targetId) return
    const targetElement = document.querySelector(targetId)

    if (targetElement) {
      event.preventDefault()
      event.stopPropagation()
      targetElement.scrollIntoView({ behavior: 'smooth' })
    }
  }

  document.querySelectorAll('nav div > a').forEach((link) => {
    link.addEventListener('click', smoothScroll)
  })
</script>

<nav>
  <HStack class="fixed z-10 w-full items-center px-4 py-2 sm:pr-8">
    <a href="#hero" class="cursor-pointer font-bold hover:text-primary">
      {t('nav.techtalk', 'TechTalk')}
    </a>

    <Spacer />
    <HStack class="items-center">
      <a href="#about" class="cursor-pointer font-bold hover:text-primary">
        {t('nav.about', '会社概要')}
      </a>
      <a href="#contact" class="cursor-pointer font-bold hover:text-primary">
        {t('nav.contact', 'お問い合わせ')}
      </a>

      <LanguageSwitcher />
    </HStack>
  </HStack>
</nav>
