---
import '~/styles/globals.css'
import Navigation from '~/components/Navigation.astro'
---

<html lang="ja" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="株式会社TechTalkの公式サイトです。" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>株式会社TechTalk</title>
  </head>

  <body class="relative h-screen">
    <Navigation />
    <slot />
  </body>
</html>
