---
import { twMerge } from 'tailwind-merge'
const { class: className, ...rest } = Astro.props
---

<label class={twMerge('block text-left text-sm font-medium leading-6', className)} {...rest}><slot /></label>
